.status-bar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  top:0;
  width: 100%;
  height: 40px;
  position: sticky;
  z-index:2;

  &.none {
    display:none;
  }
}

.banner.test {
  background-color:$oc-red-8;
  color:white;
  animation: marquee 60s linear infinite;
  position:absolute;
}