@include keyframes(show-on) {
	0% {
		background: rgba(0, 0, 0, 0);
		color: rgba(255, 255, 255, 0);
	}

	100% {
		background: rgba(0, 0, 0, 1);
		color: rgba(255, 255, 255, 1);
	}
}

@include keyframes(turn-on) {
	0% {
		background: url(/assets/img/home/main.jpg) no-repeat center top fixed;
	}

	100% {
		background: url(/assets/img/home/main.jpg) no-repeat center center fixed;
	}
}

section {
	margin-top: 50px;
}

section.main {
	@include animation('turn-on 10s linear 1 alternate forwards');
	background-size: cover;
	padding: 275px 0;

	@include media-query($on-laptop) {
		padding: 150px 0;
	}

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 1s ease-out;

	&:hover {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}

	& .main-content {
		@include animation('show-on 2s linear 1 alternate forwards');
		color: white;
		line-height: 100px;
		font-size: 3rem;
		text-shadow: -1px 0 $oc-gray-9, 0 1px $oc-gray-9, 1px 0 $oc-gray-9, 0 -1px $oc-gray-9;
		background: rgba(0, 0, 0, 1);
		-webkit-font-smoothing: antialiased;
		text-align: center;
		margin: auto;

		@include media-query($on-laptop) {
			line-height: 50px;
			font-size: 1.4rem;
		}
	}
}

section.main-text {
	padding-top: 300px;

	@include media-query($on-laptop) {
		padding-top: 125px;
	}

	.header {
		font-size: 4rem;

		@include media-query($on-laptop) {
			font-size: 2rem;
		}
	}

	.body {
		color: $oc-gray-7;
		font-size: 3rem;

		@include media-query($on-laptop) {
			font-size: 1.4rem;
		}
	}

	.center {
		text-align: center;
	}

}

section.feature-1 {
	margin: 20rem 0;

	@include media-query($on-laptop) {
		margin: 10rem 0;
		display: list-item;
	}

	display: flex;

	& div {
		flex: 1;

		&.feature-image img {
			max-width: 700px;
			@include media-query(1400px) {
				max-width:500px;
			}
			@include media-query(1150px) {
				max-width:350px;
			}
			@include media-query($on-laptop) {
				max-width: 100%;
				margin-bottom:2rem;
			}
			width: 100%;
			box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

			margin-left: 4rem;
			padding:1rem;
			@include media-query($on-laptop) {
				margin-left: 0rem;
				padding:.2rem;
			}
		}

		&.feature-content {
			margin: auto;
			text-align: center;
			font-size: 24px;

			.title {
				text-align: center;
				font-size: 3rem;

				@include media-query(1150px) {
					font-size:2rem;
				}
				@include media-query($on-laptop) {
					font-size:1rem;
				}
			}

			@include media-query(1150px) {
				font-size:12px;
			}
		}
	}
}

section.feature-2 {
	margin: 20rem 0;

	@include media-query($on-laptop) {
		margin: 10rem 0;
	}

	display: flex;

	& div {
		&.feature-image img {
			flex: 2;

			max-width: 700px;
			@include media-query(1400px) {
				max-width:500px;
			}
			@include media-query(1150px) {
				max-width:350px;
			}
			@include media-query($on-laptop) {
				max-width: 150px;
			}
			width: 100%;
			box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

			margin-right: 4rem;
			padding:1rem;
			@include media-query($on-laptop) {
				margin-right: 0rem;
				padding:.2rem;
			}
		}

		&.feature-content {
			flex: 1;

			margin: auto;
			text-align: center;
			font-size: 1.2rem;

			.title {
				text-align: center;
				font-size: 3rem;

				@include media-query(1150px) {
					font-size:2rem;
				}
				@include media-query($on-laptop) {
					font-size:1rem;
				}
			}

			@include media-query(1150px) {
				font-size: .8rem;
			}
		}
	}
}

div.sub-title {
	text-align: center;
	font-size: 3rem;

	@include media-query($on-laptop) {
		font-size: 2rem;
	}
}

div.half-arrow-title {
  text-align: right;
  font-size: 2rem;
  margin: auto;
  max-width: 850px;

  & .box {
    border-bottom: 1px solid black;
    display: inline-block;

    a {
      text-decoration: none;
      color:black;
    }
  }

  @include media-query($on-laptop) {
    font-size: 1.2rem;
  }
}

.mail {
	&.white {
		color: white;
	}
}

section.finish {
	margin-top : 18rem;
	@include media-query($on-laptop) {
		margin-top : 10rem;
	}

	background: url(/assets/img/home/finish.jpg) no-repeat center top fixed;
	background-size: cover;
	@include media-query($on-laptop) {
		background: url(/assets/img/home/finish.jpg);
		background-size: 100%;
	}

	& .finish-content {
		color: white;
		padding: 175px 0;
		@include media-query($on-laptop) {
			padding: 50px 0;
		}
		background-color: rgba(0,0,0,.5);
		font-size: 3rem;
		text-shadow: -1px 0 $oc-gray-9, 0 1px $oc-gray-9, 1px 0 $oc-gray-9, 0 -1px $oc-gray-9;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		margin: auto;

		@include media-query($on-laptop) {
			line-height: 50px;
			font-size: 1.4rem;
		}
	}
}

.logo {
	display: inline-block;
	font-family: "logo" !important;
	font-size:2rem;
	transition:all .5s ease;

	@include media-query($on-laptop) {
		font-size: 1.2rem;
	}

	&:hover {
		text-decoration:none !important;
		transform:scale(1.4);
	}

	a {
		color:$oc-gray-9 !important;
	}
}
