section.main {
  margin-top:100px;
  max-height: 650px;
  overflow: hidden;

  @include media-query($on-laptop) {
    max-height: 300px;
  }

  & img {
    max-height: initial;
    margin-top: -15%;

    @include media-query($on-laptop) {
      margin-top: 0%;
    }
  }

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s ease-out;

  &:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  & .main-content {
    position: absolute;
    color: white;
    font-size:4rem;
    top: 80%;
    left: 30px;

    @include media-query($on-laptop) {
      font-size:2rem;
      left: 20px;
    }
  }
}