/**
 * Page content
 */

.page-content {
	background-color:white;
	padding: $spacing-unit 0;
}

.page-heading {
	font-size: 20px;
}

.post-divider {
	margin-top: 50px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc!important;
	font-size: 20px;
}

.post-list {
	margin-left: 0;
	margin-bottom: 4rem;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-list-title {
	padding-bottom:1rem;
	border-bottom: 1px solid $oc-gray-2;
	margin-bottom:1rem;
}

.post-link {
	display: block;
	margin: 0;
	font-size: 1.25rem;
	line-height: 2rem;
	max-height: 4rem;
}

.post-datetime {
	display: block;
	font-size: $small-font-size;
	color: $grey-color;
	//float : right;
}

.post-preview {
	height: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.post-more {
	background-color:$oc-gray-4;

	padding: .25rem;
	text-align: center;
	margin: 1rem 0;
	border-radius: .25rem;
	display:block;
	text-decoration:none !important;
	color:black !important;

	&:hover {
		background-color:$oc-gray-3;
	}
}


/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}