<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.github_username %}
          <li>
			  <a class="rgbplace" href='https://blog.rgbplace.com/397'>
				  <span class='r'>R</span><span class='g'>G</span><span class='b'>B</span>
				  <span class='place'>place</span>
			  </a> / {% include icon-github.html username=site.github_username %} / <a class="b" href="https://{{ site.blog }}">Blog</a>
          </li>
          {% endif %}
          <li>e-mail <a class="r" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><p class="rss-subscribe">subscribe <a class="r" href="{{ "/feed.xml" | relative_url }}">via RSS</a></p></li>
        </ul>
      </div>

      <div class="footer-col footer-col-23">
        <div style='margin-bottom:1.2rem;'>{{ site.description | escape }}</div>
      </div>
    </div>
 
</footer>
