---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

<div class="home">

<h3>Photo news</h3>
<div class="swiper-container">
  <div class="swiper-wrapper">
	<div class="swiper-slide"><a href="#"><img src="/assets/img/alone.png"/></a>
		<div class="swiper-title">
			<a href='#'>페이지 업데이트 중 . .</a>
		</div>

		<div class="swiper-content">
			??? : Git 페이지 업데이트 중입니다.<br/>
			누가 와서 볼 것도 아니지만<br/>
			그냥 한번 남겨봅니다.
		</div>
	</div>
	<div class="swiper-slide"><a href="#"><img src="/assets/img/20180726_001.png"/></a>
		<div class="swiper-title">
			<a href='http://rgbplace.com'>November 2018, Beta Open !</a>
		</div>
	</div>
  </div>
   
  <div class="swiper-pagination swiper-pagination-white"></div>
   
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
	slidesPerView: 1,
	keyboard: {
		enabled: true,
	},
	pagination: {
		el: '.swiper-pagination',
		clickable: true,
	},
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	},
});
</script>
