---
layout: default
comments: true
---
<!-- me content start -->
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
<link href="{{ '/assets/css/me.css' | relative_url }}" rel="stylesheet" />
<div class="gameboy">
    <div class="screen-cont">
        <div class="screen">
            <div class="power power-on"></div>
			<label id='mute-toggle' class="sound sound-off"><input id='mute' type="checkbox" style='display:none'></label>
            <div class="header">DOT MATRIX WITH STEREO SOUND</div>
            <div class="main">
				<div class="ash">
                    <img src="/assets/img/me/ash.gif" />
                </div>
				<span class="text" style='white-space:pre'></span>
            </div>
        </div>
    </div>
</div>

<script src="{{ '/assets/js/typed.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/me.js' | relative_url }}"></script>
<!-- me content finish -->
