---
layout: default
comments: true
---
<!-- me content start -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
<style>
    html, body, pre, code, kbd, samp {
        font-family: "dot";
    }

    main .wrapper {
        max-width:1200px;
        padding-right: 7.5px !important;
        padding-left: 7.5px !important;
    }
</style>
<div class="gameboy">
    <div class="screen-cont">
        <div class="power power-on"></div>
        <div class="sound sound-on"></div>
        <div class="screen">
            <div class="header">DOT MATRIX WITH STEREO SOUND</div>
            <div class="screen-content">
                {{ content }}
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- me content finish -->